body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

header .content {
  padding: 40px 30px;
}

header .content img{
  height: 100px;
}

header .head-cta {
  float: right;
  display: inline-block;
  padding-top: 10px;
}

header .head-cta .hdr-involved,
header .head-cta h1{
  display: inline;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
}

header .head-cta h1 span {
  background: #EEAE00;
  padding: 12px 15px;
  margin-right: 5px;
}

header .head-cta .hdr-involved {
  margin-left: 20px;
  background: #EEAE00;
  border-right: 8px solid #FEDD77;
  padding: 12px 15px;
}

.cd-section {
  position: relative;
}

#home-page,
#get-involved {
  background: #081B57;
  height: 100vh;
  width: 100%;
}

#home-page .start-nav {
  color: #fff !important;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -53px;
  text-align: center;
  margin-bottom: 10px;
}

.cd-scroll-down {
  color: #fff;
  text-transform: uppercase;
}

#home-page .drop-arrow {
  font-size: 3em;
  margin-top: -15px;
}

div#welcome {
  height: 100vh;
  background: black;
  display: inline-block;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}

div#projects {
  height: 100vh;
  background: #C95907;
  display: inline-block;
  width: 50%;
  margin-left: -4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.yt-play {
  background: #EEAE00;
  padding: 20.5px 25px;
  color: #fff;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -50px;
  font-size: 1.5em;
}

.copy {
  width: 75%;
  margin-left: 50px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.title {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #081b57;
  margin-bottom: 10px;
}

.main-copy {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  color: #EEAE00;
  margin-top: 0;
  margin-bottom: 10px;
}

.main-copy span {
  color: #FEDD77;
  border-bottom: 2px solid #FEDD77;
}

.copy-desc {
  color: #fff;
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 5px;

}

.cta {
  color: #FEDD77;
  border-bottom: 2px solid #FEDD77;
  text-decoration: none;
  font-size: 1.5em;
}

.copy .ss-play {
  font-size: .75em;
  color: #FEDD77;
}

@media screen and (max-width: 768px) {
  div#projects,
  div#welcome {
    display: block;
    width: 100%;
    margin: 0;
    position: static;
  }

  div#projects {
    height: 75vh;
  }

  div#welcome {
    margin-bottom: -20px;
    height: 25vh;
  }
}
